
 h1 {
    color: orange;
}
body {
    background-color: rgb(161,158,238);
    color: grey;
}
marquee {
    color: rgb(89,190,220);
}
html {
    font-family: sans-serif;
}
span {
    color: yellow;
    font-weight: bold;
}
.span1 {
    color: green;
}
.span2 {
    color: magenta;
}
#submit {
    color:blue;
    font-size: 20px;
    text-align: center;
    outline: none;
    padding: 10px 14px;
    border-style:none;
    border-radius: 100px;
    box-shadow:3px 3px 3px;
    display: block;
    background-color:#90A4AE;
    margin-top:10px;
}
#submit:active {
    box-shadow: 1px 1px 1px #90A4AE;
}
#dot {
    width:50px;
}
#t {
    width:50px;
}
.time {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 18px ;
}
a {
    color: indigo;
}
