  <h1>Welcome to Tiger's <span class="span1">To-Do!</span></h1>
            
            <ul>
                category
                <marquee> Pending <span class="span2"> assignment</span> due</marquee>
                <hr>
                <li>
                     
                     <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                     
                     
                      
                </li>
                
                <hr>
                <li>
                   <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                </li>
               
                <hr>
                <li>
                    <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                </li>
                   
                <hr>
                <li>
                    <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                </li>
                 
                <hr>
                <li>
                    <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                </li>
                  
                <hr>
                <li>
                    <input type="checkbox"> <span class="row"> You are the greatest</span> <span class="time">test</span>
                </li>
               
                <hr>
                <li>
                   <input type="checkbox"> <span class="row"> you are the greatest</span> <span class="time">test</span>
                    
                </li>
                <select>
                    <option value="test"> test </option>
                    <option value="test2"> to</option>
                </select>
                <input placeholder="thing" id="t">; <input placeholder="date of thing" id="dot">
                
                <input type="submit" id="submit">
                <a href = "show.html"> next page ...</a>
                
                
            </ul>