<a href= "index.html"></a>
<h2>What's your name? </h2>
<input type placeholder = "name"> 
<input type = "checkbox">
<a href = "/todo/index"> previous page ...</a>
<hr>
<a href = "#"> edit</a>
<hr>
<a href = "#"> delete</a>
<%=@todo_description%>
<h3> <%=params[:id] %> </h3>
<hr>